<html layout:decorate="~{layouts/main}">
  <head>
    <title>Authority Matcher</title>
  </head>
  <body>
   <div layout:fragment="content">

<h2>Users</h2>
<ul class="list-group">
 <li th:each="Repository : ${repo}"  class="list-group-item clearfix">
    <label>Requester:</label>
    <span th:text="${Repository.requester}" ></span> 
    <label>Remote host:</label>   
    <span th:text="${Repository.host}" ></span>   
    <label>Owner:</label> 
    <span th:text="${Repository.owner}" ></span>
    <label>Name:</label>
    <span th:text="${Repository.repo}" ></span> 
    <label>Creation Date:</label>
    <span th:text="${Repository.creationDate}" ></span>     
    <span th:text="${Repository.url}" ></span>     
                <form th:if="${not user.admin}" th:action="@{|/admin/user/${user.username}/admin|}" method="POST">
                <button style="padding:0px" class="btn btn-link"><i class="fas fa-user-tie"></i> Make Admin</button>
            </form> 
    </li>
</ul>
   </div>
  </body>
</html>