<html layout:decorate="~{layouts/main}">
<head>
<title>Authority Matcher</title>
</head>
<body>
    <div layout:fragment="content">
        <h2>Create a new project</h2>
        <form th:action="@{|/auth/projects/add|}" method="POST"
            th:object="${project}">

            <label>Project Name: </label> <input th:field="*{name}"
                class="form-control input-sm"></input>
            <p class="text-danger" th:errors ="*{name}"></p>

            <label>Project Description: </label> <input
                th:field="*{description}" class="form-control input-sm"></input>
            <p class="text-danger" th:errors ="*{description}"></p>
            

            <button style="padding: 0" class="btn btn-link">
                <i class="fas"></i>Submit
            </button>
        </form>
    </div>
</body>
</html>