<html layout:decorate="~{layouts/main}">
  <head>
    <title>Authority Matcher</title>
  </head>
  <body>
	<div layout:fragment="content">
	<h2>Remove an existing project</h2>
	<form th:action="@{/auth/projects/remove}" method="POST" th:object="${project}">
		
		<label>Project Name: </label>
		<input th:field="*{id}" class="form-control input-sm"></input>
		<p class="text-danger"><th:errors path="id"/></p>
		
		<button style="padding:0" class="btn btn-link"><i class="fas"></i>Submit</button>
	  </form>
	</div>
</body>
</html>