<html layout:decorate="~{layouts/main}">
<head>
<script type="text/javascript">
$(document).ready(function () {
    $(".confirm-delete").on("click", function (e) {
        if(!confirm("Are you sure you want to delete this project?")){
        	e.preventDefault();
        }
    });
})
</script>
</script>
<title>Authority Matcher</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="text-danger" th:text="${deletionFailure}"></div>
        <div class="alert alert-success"
            th:if="${not #strings.isEmpty(param.addSuccessMessage)}">
            <p th:text="${param.addSuccessMessage}">
        </div>
        <div class="alert alert-success"
            th:if="${not #strings.isEmpty(param.delSuccessMessage)}">
            <p th:text="${param.delSuccessMessage}">
        </div>
        <h2>Project List:</h2>
        <ul class="list-group">
            <li th:each="project : ${projects}"
                class="list-group-item clearfix">
                <p>
                    Name: <span th:text="${project.getName()}"
                        th:remove="tag"></span> ID: <span
                        th:text="${project.getId()}" th:remove="tag"></span>Description:
                    <span th:text="${project.getDescription()}"
                        th:remove="tag"></span> Date Created: <span
                        th:text="${project.getCreationDate()}"
                        th:remove="tag"></span>
                </p>
                <div class="pull-right text-right"></div>

                <form
                    th:action="@{|/auth/projects/${project.getId()}/remove|}"
                    method="POST">
                    <button style="padding: 0px" th:attr="data-id=${project.getId()}" class="btn btn-link confirm-delete">
                        <i class="fas fa-trash"></i> Delete Project
                    </button>
                </form>
            </li>
        </ul>
        <h2>
            <a th:href="@{|/auth/projects/add|}">Add a project</a>
            </h1>
    </div>
</body>
</html>