<html layout:decorate="~{layouts/main}">
  <head>
    <title>Authority Matcher</title>
  </head>
  <body>
   <div layout:fragment="content">

<h2>Repositories</h2>
<ul class="list-group">
 <li th:each="repo : ${repos}"  class="list-group-item clearfix">
    <ul class="list-group">
   
    <li class="list-group-item clearfix">
    <label>Name:</label>
    <span th:text="${repo.gitRepositoryName}" ></span> 
    </li>
    
    <li class="list-group-item clearfix">
    <label>Owner:</label> 
    <span th:text="${repo.gitRepositoryOwner}" ></span>
    </li>
    
    <li  class="list-group-item clearfix">
    <label>Remote host:</label>   
    <span th:text="${repo.gitRepositoryHost}" ></span>   
    </li>
    
    <li class="list-group-item clearfix">
    <label>Creation Date:</label>
    <span th:text="${repo.creationDate}" ></span>     
    </li>
    
    <li  class="list-group-item clearfix">
    <label>Requester:</label>
    <span th:text="${repo.requester}" ></span> 
    </li>

    <form th:action="@{/repositories/delete}" method="POST">
    <button style="padding:0px" class="btn btn-link"><i class="fas fa-trash"></i> Delete Repository </button>
    </form> 
   </ul>
    </li>
</ul>
   </div>
  </body>
</html>